<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
      SQL Server connection string.
      For Windows Authentication (recommended for local dev):
        Data Source=.\SQLEXPRESS;Initial Catalog=managing_events;Integrated Security=True
      For SQL Server Authentication:
        Data Source=.;Initial Catalog=managing_events;User ID=sa;Password=YourPassword
    -->
    <add name="DefaultConnection"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=managing_events;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms loginUrl="AdminLogin.aspx" timeout="30" />
    </authentication>
    <customErrors mode="Off" />
    <sessionState timeout="30" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
