# Auto detect text files and perform LF normalization
* text=auto

# C# files
*.cs     text diff=csharp
*.aspx   text
*.config text
*.sln    text eol=crlf
*.csproj text eol=crlf

# Binary files
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.dll  binary
*.exe  binary
