## Visual Studio / C# gitignore

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/
packages/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# NuGet
*.nupkg
project.lock.json

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# ASP.NET
*.pubxml
*.pubxml.user
